.ex-1-square {
    transition: 3s;
}
.ex-1-square:hover {
    background: red;
}

.ex-2-square{
    transition: 3s;
}
.ex-2-square:active{
    width: 100%;
}

.ex-3-square{
    transition: 3s;
}
.ex-3-square:hover{
    border-radius: 100%;
}

.ex-4-square{
    transition: 3s;
}
.ex-4-square:hover{
    background-color: #F5F5F5;
}

.ex-5-square{
    transition: 3s;
}
.ex-5-square:hover{
    transform: scale(2);
    border-radius: 5px;
}
.ex-5-square:active{
    border-radius: 5px;
    transform: scale(0.2);
}

.ex-6-img{
    transition: 3s;
}
.ex-6-img:hover{
    filter: grayscale(100%);
}

.ex-7-img{
    transition: 3s;
}
.ex-7-img:hover{
    filter: grayscale(100%) contrast(50%);
}

.ex-8-img{
    transition: 3s;
}
.ex-8-img:hover{
    border-radius: 20px;
    filter: grayscale(100%) contrast(50%);
}

.ex-9-img{
    transition: 3s; 
}
.ex-9-img:hover{
    filter: grayscale(100%) contrast(50%);
    border-radius: 15px;
    transform: scale(1.5);
}

.ex-10-icon {
    animation: load 3s linear infinite;
}
@keyframes load {
    0% {
        transform: rotate(1turn);
    }
}

.ex-11-icon:hover {
    animation: spin2 3s linear infinite;
}
@keyframes spin2{
    0% {
        transform: rotate(0);
    }
    90% {
        transform: rotate(300deg);
    }
    100% {
        transform: rotate(0);
    }
}